language: php

php:
  - 7.0

addons:
   chrome: stable

install:
   - travis_retry composer install --no-interaction --prefer-dist --no-suggest

before_script:
  - cp .env.travis .env  
  - psql -c 'create database reservasi_hotel_db_test;' -U postgres
  - composer self-update
  - composer install --no-interaction  
  - php artisan key:generate
  - sudo chmod +x vendor/bin/phpunit
  - sudo chmod +x vendor/phpunit/phpunit/phpunit   
  - google-chrome-stable --headless --disable-gpu --remote-debugging-port=9515 http://localhost:8000 &
  - php artisan serve &


script:
  - php artisan dusk